#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak


# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll


.vs/config/.config


*.xdt
*.xml
packages
/Walnut.Sentiments/App_Data
/.vs/config
*.coverage
/Walnut.Sentiments/compilerconfig.json.defaults
/Walnut.Sentiments/compilerconfig.json
/Walnut.Sentiments/buildartifacts
*.json
/TestResults
/.vs
